<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <div class="footlinks">
    <ul>
        <li><a href="/">Instagram</a></li>
        <li><a href="/">Facebook</a></li>
        <li><a href="/">WhatsApp</a></li>
    </ul>
    <% const d = new Date(); %>
    <p>Copywrite © <%= d.getFullYear() %></p>
</div>
</body>
</html>